/*Header Formatting*/

html {
  font-family: 'Quattrocento Sans';
}


/*Header Formatting*/

header {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

/*Logo flex-box Formatting*/

.logo {
  display: inline-flex;
  align-items: center;
}

/*Logo Text Formatting*/

.logo h1 {
  font-weight: lighter;
  color: grey;
  display: block;
  font-size: 2rem;
}

h1 span {
  color: black;
  font-weight: bold;
}

/*Navigation Menu Formatting*/

.navigation {
  display: flex;
  color: black;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
}

.navigation span {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

.navigation a {
  color: black;
  text-decoration: none;
}

/*Banner Section Formatting*/

.banner-container {
  display: flex;
  background-color: lightgrey;
}

/*Banner Image Formatting*/

.banner-container img {
  margin: 32px 24px;
  width: 60%;
  height: 60%;
}

/*Text Container Formatting*/

.text-container {
  padding-top: 200px;
  margin-left: 24px;
  margin-right: 100px;
}

.banner-text {
  color: rgb(82,82,82);
  font-weight: bold;
}

/*Banner Text Formatting*/

.banner-text h1 {
  font-size: 50px;
}

/*Button Formatting*/
.button {
  background-color: rgb(82,82,82);
  color: white;
  width: 90%;
  margin-top: 32px;
}

.button h3 {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: normal;
}

/*Information Box Formatting*/

.information-banner {
  display: flex;
}

.information-container {
    width: 60%;
    padding: 32px 24px;
}

.main-image img {
  width: 100%;
}

.practice-box h1 {
  font-weight: bold;
}

/*Info Box Formatting*/

.info-boxes {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.category {
  display: inline-flex;
  border: 1px solid dimgrey;
  justify-content: center;
  align-items: center;
}

/*Guest Lecture Box Formatting*/

.category-2 {
  display: inline-flex;
  border: 1px solid dimgrey;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}

.orientation-image {
  width: 35%;
  height: auto;
  padding: 32px 16px 16px 16px;
}

.orientation-image img {
  width: 100%;
}

.category-image {
  width: 35%;
  height: auto;
  padding: 16px 16px;
}

.category-image img {
  width: 100%;
}

.category-text {
  display: inline-block;
  width: 65%
}

.category-text a {
  text-decoration: none;
}

/*Start Learning Box Formatting*/

.learning-container {
  background-color: lightgrey;
}

.learning-title {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.learning-content {
  display: flex;
  flex-wrap: wrap;
  padding-right: 72px;
  padding-left: 72px;
  padding-bottom: 32px;
}

.learning-content-box {
  padding-bottom: 32px;
  background-color: white;
  width: 30%;
  margin: 16px 16px;
}

.course-img img {
  width: 100%;
  height: auto;
}

.course-text h2 {
  padding-top: 16px;
}

.course-text h3 {
  text-transform: uppercase;
  padding: 8px 0;
  color: dimgrey;
}

.course-text h4 {
  margin-bottom: 24px;
  color: dimgrey;
  display: flex;
  flex-wrap: wrap;
}

/*Thesis Title*/
.thesis-title {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: center;
}

/*Thesis Container*/
.thesis-container {
  display: flex;
}

/*Video Container Formatting*/
.video-container {
  width: 60%;
}

.main-video {
  background-color: lightgrey;
  margin: 0px 24px 24px 24px;
}

.video-text {
margin-left: 24px;
}

.video-text h1 {
  margin-bottom: 8px;
}

/*Left Box Formatting*/
.left-boxes {
  display: flex;
  flex-direction: column;
}

.side-box {
  display: flex;
}


/*Fonts*/

@font-face {
  font-family: 'Quattrocento Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Quattrocento Sans Italic'), local('QuattrocentoSans-Italic'), url(https://fonts.gstatic.com/s/quattrocentosans/v11/va9a4lja2NVIDdIAAoMR5MfuElaRB0zMh032GFPKgLM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

  @font-face {
    font-family: 'Quattrocento Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Quattrocento Sans Bold Italic'), local('QuattrocentoSans-BoldItalic'), url(https://fonts.gstatic.com/s/quattrocentosans/v11/va9X4lja2NVIDdIAAoMR5MfuElaRB0zMj_bTDX7ojZkKR7A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

    @font-face {
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(https://fonts.gstatic.com/s/quattrocentosans/v11/va9c4lja2NVIDdIAAoMR5MfuElaRB0zJt0_8H3HI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

    @font-face {
      font-family: 'Quattrocento Sans';
      font-style: normal;
      font-weight: 700;
      src: local('Quattrocento Sans Bold'), local('QuattrocentoSans-Bold'), url(https://fonts.gstatic.com/s/quattrocentosans/v11/va9Z4lja2NVIDdIAAoMR5MfuElaRB0RyklrRPXziirsI.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
